<h2 mat-dialog-title>{{appt.appts[data].time}}:00 Appointment Details</h2>

<mat-form-field>
    <input matInput type="text" [(ngModel)]="appt.appts[data].name" placeholder="Enter your name">
</mat-form-field>
<br>
<mat-form-field>
    <input matInput maxLength="10" type="number" [(ngModel)]="appt.appts[data].phoneNumber" placeholder="Enter a phone number">
</mat-form-field>

<div mat-dialog-actions>
    <button mat-button color="warn" (click)="closeModal()">Cancel</button>
    <button mat-raised-button color="primary" (click)="closeModal()" [disabled]="appt.appts[data].name == ''">Save</button>
</div>