<div class="appointment" *ngFor="let appointment of appt.appts; index as i">
  <button mat-raised-button (click)="openDialog(i)" [ngClass]="{'appointment-clicked': !appointment.available}">
    {{appointment.time}}:00
  </button>
</div>